* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 650;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}

#inputs-container {
  display: flex;
  gap: 1rem;
}

#search-box {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid grey;
  min-width: 0;
}

#search-btn {
  padding: 0.5rem 0.5rem;
  align-self: center;
  font-weight: 650;
}

#weather-information-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 1rem;
}

#current-weather-container {
  display: grid;
  grid-template-columns: min-content 1fr 1fr 1fr;
  align-items: center;
  border: 1px solid black;
}

#current-condition-text {
  grid-column: span 3;
  font-size: 2rem;
}

#current-wind-speed {
  grid-column: span 2;
}

#three-day-forecast-container {
  display: flex;
}

#location-name {
  grid-column: span 2;
  padding: 0.5rem;
}

#location-region {
  grid-column: span 2;
}

.day-name {
  font-size: 1.5rem;
}

.forecast-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.static-icon {
  height: 3rem;
  padding: 0.5rem;
}

.condition-icon {
  height: 4rem;
  padding: 0.5rem;
}